# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Build results
**/*[Dd]ebug/
**/*[Dd]ebugPublic/
**/*[Rr]elease/
**/*[Rr]eleases/
**/*x64/
**/*x86/
**/*bld/
**/*[Bb]in/
**/*[Oo]bj/
**/*[Ll]og/
.vscode/launch.json
.vscode/tasks.json
.vs/Api/DesignTimeBuild/.dtbcache.v2
.vs/Api/FileContentIndex/0ba9b537-d523-45ae-a523-12ad4819bd93.vsidx
.vs/Api/FileContentIndex/6aadeb8d-8209-4b35-aa7a-fbbc485b1d06.vsidx
.vs/Api/FileContentIndex/8c9b8e4a-5be5-4683-9b61-1666fe9fe0f5.vsidx
.vs/Api/FileContentIndex/9fb05ab4-8890-484a-ab41-815934b2c4a0.vsidx
.vs/Api/FileContentIndex/19c32a16-b9f5-48c8-9120-c3c354641234.vsidx
.vs/Api/FileContentIndex/87c80de3-9188-42d7-9b3e-95fd63289b7c.vsidx
.vs/Api/FileContentIndex/77914aef-5660-402a-9b76-b7016788b35d.vsidx
.vs/Api/FileContentIndex/4638252a-853c-42e7-8c99-6d314f78e9ef.vsidx
.vs/Api/FileContentIndex/ba2b65bb-82f5-4a7f-bbff-97d22f0852d5.vsidx
.vs/Api/FileContentIndex/e6640f62-a931-4f21-ab36-68530d7a5191.vsidx
.vs/Api/v17/.futdcache.v2
.vs/Api/v17/.suo
.vs/ProjectEvaluation/api.metadata.v7.bin
.vs/ProjectEvaluation/api.projects.v7.bin
